{% extends 'base.html' %}

{% block title %}Setup{% endblock %}

{% block content %}
<section>
    <h2>Setup</h2>
    <!-- Setup-specific content like forms for input goes here -->
    <form action="{{ url_for('setup') }}" method="post">
        <!-- Example: Input field for product name -->
        <label for="product_name">Product Name:</label>
        <input type="text" id="product_name" name="product_name" required><br><br>

        <!-- Input field for frame size with decimals allowed and range set -->
        <label for="frame_size">Frame Size:</label>
        <input type="number" id="frame_size" name="frame_size" min="0" max="100" step="0.1" required><br><br>

        <!-- Input field for frame offset with decimals allowed and range set -->
        <label for="frame_offset">Frame Offset:</label>
        <input type="number" id="frame_offset" name="frame_offset" min="0" max="100" step="0.1" required><br><br>
 <h2>Active learning </h2>
 <p>Please add the predefined Labels of Events</p>
        <!-- Active Learning Iterations -->
        <label for="active_learning_iterations">Active Learning Iterations:</label>
        <input type="number" id="active_learning_iterations" name="active_learning_iterations" required min="10" max="1000" step="10" value="10"><br><br>

        <!-- Preloaded Labels -->
        <div id="labelInputs">
            <div>
                <label for="label_1">Label 1:</label>
                <input type="text" id="label_1" name="label_1"><br><br>
            </div>
            <div>
                <label for="label_2">Label 2:</label>
                <input type="text" id="label_2" name="label_2"><br><br>
            </div>
            <div>
                <label for="label_3">Label 3:</label>
                <input type="text" id="label_3" name="label_3"><br><br>
            </div>
        </div>

        <!-- Label Control Buttons -->
        <div class="label-control-buttons">
            <button type="button" onclick="addLabelInput()">Add More Labels</button>
            <button type="button" onclick="removeLabelInput()">Remove Last Label</button>
        </div>



        <!-- Additional input fields as needed -->

        <!-- Submit Button -->
        <div class="submit-button">
            <input type="submit" value="Submit">
        </div>
    </form>
</section>
<script src="{{ url_for('static', filename='script.js') }}"></script>

{% endblock %}
